USE [master]
GO
/****** Object:  Database [ChessAIProject]    Script Date: 12/12/2022 9:35:33 AM ******/
CREATE DATABASE [ChessAIProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChessAIProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ChessAIProject.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChessAIProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ChessAIProject_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChessAIProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChessAIProject]
GO
/****** Object:  Table [dbo].[level]    Script Date: 12/12/2022 9:35:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[level](
	[id_level] [int] NOT NULL,
	[level_name] [varchar](50) NULL,
	[detail] [varchar](50) NULL,
 CONSTRAINT [PK_level] PRIMARY KEY CLUSTERED 
(
	[id_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_history]    Script Date: 12/12/2022 9:35:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_history](
	[id_match_history] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[id_level] [int] NOT NULL,
	[result] [varchar](50) NULL,
	[time] [date] NULL,
 CONSTRAINT [PK_match_history] PRIMARY KEY CLUSTERED 
(
	[id_match_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player]    Script Date: 12/12/2022 9:35:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[fullname] [varchar](100) NULL,
 CONSTRAINT [PK_player] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[match_history]  WITH CHECK ADD  CONSTRAINT [FK_match_history_level] FOREIGN KEY([id_level])
REFERENCES [dbo].[level] ([id_level])
GO
ALTER TABLE [dbo].[match_history] CHECK CONSTRAINT [FK_match_history_level]
GO
ALTER TABLE [dbo].[match_history]  WITH CHECK ADD  CONSTRAINT [FK_match_history_player] FOREIGN KEY([username])
REFERENCES [dbo].[player] ([username])
GO
ALTER TABLE [dbo].[match_history] CHECK CONSTRAINT [FK_match_history_player]
GO
USE [master]
GO
